extends ../../layout/main
block content
    p(class="title") #[strong #{activity.actor.fullName()}]
        |  assigned #{activity.context.assignee?.fullName ?? ''}
        |  to task #[a(href=`${entityUrl}`) #[strong #{activity.context.entity.title}]]
    if notificationContent
        p Content:
        blockquote #{notificationContent}
    p(class="note") If the link above link does not work, copy and paste the following URL below into your browser:
    p #{entityUrl}
